* {
    color: #bababa;
    font: bold;
}

QMainWindow, QUserDialog, QWidget {
    /*border: 1px;*/
    background: #292929;
}


QTableWidget, QListWidget {
    background: #292929;
    border-radius: 5px;
    gridline-color: #bababa;
}

QListWidget::item::selected {
    background-color: #002633;
}

QTableWidget::item:selected {
    background-color: #de8e37;
}

QScrollBar {
    border: 2px solid grey;
    background: #de8e37;
    height: 15px;
    width: 15px;
}

QSplitter {
    border: 2px solid grey;
    border-radius: 4px;
}

QHeaderView::section {
    background-color: #002633;

}

QLabel {
    border: None;
}

QComboBox, QPushButton, QLineEdit, QToolButton {
    border: 1px solid;
    border-radius: 5px;
}

QLineEdit::hover, QComboBox::hover, QPushButton::hover, QMenu::item::selected, QMenuBar::hover, QToolButton::hover {
    background-color: #002633;
}

QComboBox, QPushButton, QLineEdit, QToolButton {
    border: 1px solid;
    border-radius: 5px;
}
