* {
    font: bold;
}

QMainWindow, QUserDialog, QWidget {
    border: 1px;
}


QTableView, QListView {
    border: 1px solid;
    border-radius: 5px;
}

QScrollBar {
    border: 2px solid grey;
    background: #de8e37;
    height: 15px;
    width: 15px;
}

QSplitter {
    border: 1px solid #bababa;
    border-radius: 4px;
}

QLabel {
    border: None;
}

QComboBox, QPushButton, QLineEdit, QToolButton {
    border: 1px solid;
    border-radius: 5px;
}
